body,
html {
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blue {
  color: blue;
}

.spaces {
  margin-right: 20px;
}

.supheight {
  height: 700px;
}

.BGstyle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Assets//BGone.jpg");
}
.BGstyle2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Assets/Phone.jpg");
}

.BGstyle3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Assets/BgTwo.jpg");
}
